@charset "UTF-8";

/* 
    PRIMARY COLOR Grey 500: #9E9E9E
    Grey 50: #FAFAFA 
    Grey 300: #E0E0E0
    Grey 700: #616161
    Grey 900: #212121

    SECONDARY COLOR Orange 500: #FF9800
    Orange 100: #FFE0B2
    Orange 300: #FFB74D
    Orange 700: #F57C00

    BG COLOR Main: #FAFAFAs
*/


@-webkit-keyframes slider-anim-in {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@keyframes slider-anim-in {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@-webkit-keyframes slider-anim-out {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes slider-anim-out {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}


/*
** CLEAR FIX FOR FLOATING ELEMENTS
*/

.cf {
    zoom: 1;  /*ie < 8 fix*/
}

.cf::before, 
.cf::after {
   content: "";
   display: block;
  
}

.cf::after {
    clear: both;
}


* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-size: 45px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 23px;
}

p {
    font-size: 1rem;
}


figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


main#main--container {
    width: 100%;
    height: 100%;
    background-color: #FAFAFA ;
    color: #0a0a0a;
}


/*
**   HEADER STYLES
*/

header#main--header {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px 0;
    background-color: #616161;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

#main--header .header--ham {
    width: 40px;
    height: 40px;
    margin: auto;
    margin-right: 30px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

#main--header .ham--btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}


#main--header .ham--btn svg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main--header .logo--wrapper {
    width: auto;
    height: 80px;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
}


.logo--wrapper img {
    width: 100%;
    height: 100%;
}

#main--header .header--nav {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: inherit;
    position: absolute;
    top: 100%;
    right: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}


#main--header .nav--shown {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.header--nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#main--header .nav--list li {
    width: 100%;
    height: auto;
    margin: 5px 0;
    padding: 0;
    text-align: center;
    color: #f7f8f8;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


#main--header .nav--list li.sub--menu {
    position: relative;
}

.nav--list li span {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #3a3e41;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
}


.nav--list li span:hover {
    background-color: #FF9800;
}

#main--header .nav--list a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 2px;
    color: inherit;
    text-decoration: none;
    outline: none;
    display: inline-block; 
}


@media (min-width: 770px) {
    header#main--header {
        height: auto;
        padding: 20px 50px 0;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
        position: static;
    }

    #main--header .header--ham {
        display: none;
    }

    #main--header .logo--wrapper {
        width: auto;
        height: 100px;
        margin: auto;
    }

    #main--header .header--nav {
        width: auto;
        height: 50px;
        margin: auto;
        margin-top: 20px;
        -ms-flex-item-align: end;
        align-self: flex-end;
        position: static;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }

    .header--nav ul {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end
    }

    #main--header .nav--list li {
        width: 80px;
        margin: 0 5px;
        border-top: none;
        border-bottom: none;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
        -webkit-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
    }
    
    #main--header .nav--list li:nth-child(1) {
        border-bottom: 2px solid #FF9800;
    }

    #main--header .nav--list li:hover {
        background-color: #FF9800;
    }

    .nav--list li.sub--menu:hover span {
        display: block;
    }

    #main--header .nav--list a {
        padding: 5px 2px;
    }
}

@media (min-width: 990px) {
    header#main--header {
        padding: 20px 100px 0;
    }
}

@media (min-width: 1200px) {
    header#main--header {
        padding: 20px 200px 0;
    }
}



/*
**   FOOTER STYLES
*/


footer#main--footer {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px 30px;
    background-color: #616161;
}

.footer--contact address {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}


.footer--contact .contact--info p {
    font-size: 16px;
    font-weight: bold;
}


@media (min-width: 770px) {

    footer#main--footer {
        padding: 20px  50px;
    }
}


@media (min-width: 990px) {

     footer#main--footer {
        padding: 50px  100px 20px;
    }

}

@media (min-width: 1200px) {
     footer#main--footer {
        padding: 50px  200px 20px;
    }

}




/*
** MAIN CONTENT STYLES
*/


#content--container-accueil {
    width: 100%;
    margin: 0;
    padding: 0;
}


/*
** PRESENTATION
*/

#content--container-accueil .presentation--section {
    width: 100%;
    padding: 20px 0;
    padding-top: 50px; 
    /*background-color: cadetblue;*/
    
}

.pres--heading {
    width: 100%;
    height: auto;
    margin: auto;
}

.pres--heading h1 {
    width: auto;
    text-align: center;
}

.pres--heading h2 {
    width: auto;
    margin: auto;
    text-align: center;
}

.presentation--section p {
    text-align: center;
}


/*
** Formulaires 
*/

#content--container-accueil .forms--section {
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #FAFAFA ;
    background-clip: padding-box;
}

.forms--section #forms--item--wrap {
    width: 100%;
    height: auto;
    background-color: #E0E0E0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
}


.forms--section #form--container {
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: #E0E0E0;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: scale3d(1, 0, 1);
            transform: scale3d(1, 0, 1);
}

.forms--section #form--confirmation-message {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px 0;
    background-color: #72797f;
    display: none;
}

#form--confirmation-message.message--shown {
    display: block;
}


#form--container.form--shown {
    height: auto;
    -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
}

#form--container #form--wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    /*background-color: darkslateblue;*/
}

#form--wrap h3 {
    height: 10%;
    margin: auto;
    text-align: center;
    opacity: 0.6;
}


 #form--confirmation-message h3 {
    margin: auto;
    text-align: center;
    opacity: 0.6;
 }

#forms--item--wrap .forms--item {
    width: 250px;
    height: 80px;
    margin: 20px auto;
    padding: 5px;
    color: #f7f8f8;
    background-color:#9E9E9E;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    -webkit-transition: background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}


#forms--item--wrap .forms--item::before {
    content: "";
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    display: inline-block;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
}


#forms--item--wrap .forms--item-current {
    background-color: transparent;
    color: #0a0a0a;
}

#forms--item--wrap .forms--item-current::before {
     border: 2px solid #9E9E9E;
    -webkit-transform: scale3d(1, 1.2, 1);
            transform: scale3d(1, 1.2, 1);
}

#forms--item--wrap .form--item-progress .form--request-progress {
    display: inline-block;
}

#forms--item--wrap .forms--item:hover {
    background-color: transparent;
    color: #0a0a0a;
}

#forms--item--wrap .forms--item:hover::before {
    border: 2px solid #9E9E9E;
    -webkit-transform: scale3d(1, 1.2, 1);
            transform: scale3d(1, 1.2, 1);
}

.forms--item h4 {
    margin: 5px 0;
    color: inherit;
    text-align: center;
}

.forms--item p {
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 0.7;
}

.forms--item .form--request-progress {
    width: 100%;
    height: 5px;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form--el {
    height: 100%;
    margin: 0;
    padding: 20px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}


.form--el .form--group {
    width: 100%;
    min-width: 100%;
    height: auto;
    margin: 10px auto;
    position: relative;
}


.form--el .form--group-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

.form--el .form--budget,
.form--el .form--select  {
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
}


.form--group input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
	height: 40px;
    padding: 0 0.5em;
    color: black;
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, #3a3e41, #3a3e41);
    background-image: linear-gradient(90deg, #3a3e41, #3a3e41);
    background-repeat: no-repeat;
    background-size: 0% 4px;
    background-position: bottom center;
	text-align: left;
    border: 1px solid#3a3e41;
	border-radius: 2px;
    display: block;
    -webkit-transition: background-size 0.3s ease-in-out;
    transition: background-size 0.3s ease-in-out;
}



.form--group input:focus {
    background-size: 100% 4px;
	outline: none;
}

.form--group label {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 0;
    padding-left: 0.5em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    display: block;
    pointer-events: none;
}

.form--group label::after {
    opacity: 0;
    content: '';
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: #6a7989;
	top: 100%;
    right: 0;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.form--group input:focus ~ label::after {
    opacity: 1;
}


.form--select label {
    width: auto;
    margin: auto 10px auto auto;
}

.form--select select {
    width: 150px;
    margin: auto auto 0 0;
    height: 30px;
    color: #f7f8f8;
    background-color: #3a3e41;
    border: none;
    border-radius: 2px;
}

.form--budget label {
    width: auto;
    max-width: auto;
    margin: auto 10px 0 auto;
    padding-bottom: 5px;
    display: inline-block;  
}


.form--budget input {
    width: 50%;
    max-width: 200px;
    margin-left: 0;
}

.form--budget input::-webkit-input-placeholder {
    text-align: right;
    color: #3a3e41;
    font-weight: bold;
    font-size: 1.5em;
}

.form--budget input::-moz-placeholder {
    text-align: right;
    color: #3a3e41;
    font-weight: bold;
    font-size: 1.5em;
}

.form--budget input:-ms-input-placeholder {
    text-align: right;
    color: #3a3e41;
    font-weight: bold;
    font-size: 1.5em;
}

.form--budget input::placeholder {
    text-align: right;
    color: #3a3e41;
    font-weight: bold;
    font-size: 1.5em;
}


.form--message label {
    width: 70%;  
    max-width: 70%;
}


.form--group textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    resize: none;
    width: 100%;
    height: 200px;
    margin: 5px auto 0;
    padding: 1em;
    color: black;
    background-color: transparent;
    border: 2px solid#3a3e41;
	border-radius: 2px;
    display: block;
}


.form--group textarea:focus {
    outline: none;
}

.form--el .form--btns {
    width: auto;
    height: auto;
    margin: 20px auto;
    padding: 0; 
}


.form--el button {
    margin: 0 5px;
}


@media (min-width: 770px) {
     #content--container-accueil .forms--section {
        padding: 100px 50px;
    
    }

    #forms--item--wrap .forms--item {
        margin: 20px 25px;
    }


    .form--el {
        width: 90%;
        height: 80%;
        margin: auto;
        padding: 20px 50px;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }


    .form--el .form--group-row {
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    }

    .form--group-row input {
        width: 60%;
        margin-right: calc(50% - 150px);
        margin-left: 0;
    }


    .form--group-row label {
        width: auto;
        max-width: auto;
        margin: auto 10px auto auto;
        display: inline-block;
    }

    .form--group textarea {
        width: 70%;
    }

    .form--el button {
        margin: 0 20px;
    }
}


@media (min-width: 990px) {
    #content--container-accueil .forms--section {
        padding: 100px 100px;
    }

    .forms--section #forms--item--wrap {
        height: 150px;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

    #forms--item--wrap .forms--item {
        margin: auto 10px;
    }
 
}

@media (min-width: 1200px) {
    #content--container-accueil .forms--section {
        padding: 100px 150px;
    }

    .form--el {
        width: 80%;
    }

    .form--el .form--group-double {
        width: auto;
        min-width: 35%;
        margin: 10px 0;
    }

    .form--group-row input {
        width: 50%;
        max-width: 200px;
    }
}




/*
** ANNONCES
*/

#content--container-accueil .annonces--section {
    width: 100%;
    height: 580px;
    padding: 0 5px;
    background-color: #FAFAFA;        
    
}

#content--container-accueil .annonce--slider-wrap {
    width: 100%;
    max-width: 900px;
    height: calc(100% - 80px);
    margin: auto;
    position: relative;
}

.annonce--slider-wrap .slider--items {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.slider--items .slider--item {
    width: 100%;
    min-width: 100%;
    height: 90%;
    margin: auto;
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 100%;
    -webkit-animation: slider-anim-out 0.3s ease-in-out forwards;
            animation: slider-anim-out 0.3s ease-in-out forwards;
}

.slider--items .slider--item-current {
    -webkit-animation: slider-anim-in 0.3s ease-in-out forwards;
            animation: slider-anim-in 0.3s ease-in-out forwards;
}

.slider--item img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.annonce--slider-wrap .slider--btn {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 50px);
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}


.annonce--slider-wrap .slider--btn:disabled {
    opacity: 0;
}

.annonce--slider-wrap .slider--btn:not(:last-child) {
    left: 5px;
}

.annonce--slider-wrap .slider--btn:last-child {
    right: 5px;
}

.slider--btn svg {
    width: 100%;
    height: 100%;
    fill: black;
}


.annonces--section .annonces--link {
    width: auto;
    max-width: 200px;
    height: 50px;
    margin: auto;
    padding: 0;
}

.annonces--section .annonces--link a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    text-align: center;
    outline: none;
}


@media (min-width: 770px) {
    #content--container-accueil .annonces--section {
        padding: 0 50px;
    }

    .annonce--slider-wrap:hover .slider--btn {
        opacity: 0.5;
    }

    .annonce--slider-wrap .slider--btn {
        opacity: 0;
    }

    .slider--btn:hover svg {
        fill: gray;
    }

    /*.annonces--section .annonces--link button:hover {
        background-color: #4d5256;
    }*/
}


@media (min-width: 990px) {
     #content--container-accueil .annonces--section {
        padding: 0 100px;
    }
}

@media (min-width: 1200px) {
    #content--container-accueil .annonces--section {
        padding: 0 200px;
    }
}


/*
** INFO
*/


#content--container-accueil .apropos--section {
    width: 100%;
    height: 400px;
    padding: 0;
    background-color: #E0E0E0;
}


.apropos--section h2 {
    margin: 0 auto;
    text-align: center;
}


@media (min-width: 770px) {
    #content--container-accueil .apropos--section {
        padding: 0 50px;
    }
}


@media (min-width: 990px) {
    #content--container-accueil .apropos--section {
        padding: 0 100px;
    }
  
}

@media (min-width: 1200px) {
  
}


/*
** ===== ANNONCES PAGE =====
*/

#content--container-annonces {
    width: 100%;
    margin: 0;
    padding: 0;
}


/*
** ANNONCES GRIDS
*/

#content--container-annonces #annonces--grid-section {
    width: 100%;
    padding: 100px 5px;
    background-color: #FAFAFA;
}


#annonces--grid-section .annonces--grid-cell {
    height: 500px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1), -2px -2px 10px rgba(0, 0, 0, 0.1);
    background-color: #9E9E9E;
    overflow: hidden;
    position: relative;

}


.annonces--grid-cell figure {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 100%;
    -webkit-animation: slider-anim-out 0.3s ease-in-out forwards;
    animation: slider-anim-out 0.3s ease-in-out forwards;

}

.annonces--grid-cell figure.annonces--fig-current {
    -webkit-animation: slider-anim-in 0.3s ease-in-out forwards;
    animation: slider-anim-in 0.3s ease-in-out forwards;
}

.annonces--grid-cell img {
    width: 100%;
    height: 100%;
}


.annonces--grid-cell .annonces--desc {
    width: 100%;
    height: 120px;
    position: absolute;
    top: 300px;
    right: 0;
}

.annonces--grid-cell .annonces--desc h5 {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    padding-left: 10px;
}

.annonces--grid-cell .annonces--link-btn {
    width: 140px;
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 15px;
    left: calc(50% - 70px);
}

.annonces--grid-cell .annonces--link-btn a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    text-align: center;
    outline: none;
}


@media (min-width: 770px) {
   #content--container-annonces #annonces--grid-section {
        padding: 100px 25px;
    }
}


@media (min-width: 990px) {
    #content--container-annonces #annonces--grid-section {
        padding: 100px 50px;
    }
}

@media (min-width: 1200px) {
    #content--container-annonces #annonces--grid-section {
        padding: 100px 200px;
    }
}


/*
** ===== ANNONCES PAGE =====
*/

#content--container-annonce {
    width: 100%;
    margin: 0;
    padding: 0;
}

#content--container-annonce #annonce--section {
    width: 100%;
    padding: 100px 5px;
    background-color: #FAFAFA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

#content--container-annonce #annonce--contact-section {
    width: 100%;
    padding: 100px 0;
    background-color: #E0E0E0;
}

#annonce--section .annonce--gallery-wrap {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    position: relative;
}

#annonce--section .annonce--desc-wrap {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
}

#annonce--section .annonce--grid-item {
    width: 100%;
    height: 70%;
    background-color: #9E9E9E;
    position: absolute;
    top: 0;
    right: 0;
}

#annonce--section .annonce--grid-items {
    width: 100%;
    height: 30%;
    background-color: #9E9E9E;
    position: absolute;
    bottom: 0;
    left: 0;
}

#annonce--section .annonce--items-cell {
    border: 1px solid transparent;
    -webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
}


#annonce--section .annonce--items-cell:hover {
    cursor: pointer;
    border-color: #616161;
}

.annonce--grid-item img {
    width: 100%;
    height: 100%;
}

.annonce--grid-items img {
    width: 100%;
    height: 100%;
}

.annonce--desc-wrap h4 {
    text-align: center;
}

#annonce--contact-section h4 {
    text-align: center;
}


@media (min-width: 770px) {
    #content--container-annonce #annonce--section {
        padding: 100px 50px;
    }
    
    #content--container-annonce #annonce--contact-section {
        padding: 50px 50px;
    }
     
} 
 
@media (min-width: 990px) {
    #content--container-annonce #annonce--section {
        padding: 100px 100px;
    }

    #annonce--section .annonce--gallery-wrap {
        width: 80%;
        margin: 0 auto;
    }

    #annonce--section .annonce--desc-wrap {
        width: 80%;
        margin: 0 auto;
    }

    #content--container-annonce #annonce--contact-section {
        padding: 100px 100px;
    }
     
} 
 
@media (min-width: 1025px) {
    #content--container-annonce #annonce--section {
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    }

    
    #annonce--section .annonce--gallery-wrap {
        width: 60%;
        margin: 0;
    }

    #annonce--section .annonce--desc-wrap {
        width: 40%;
        margin: 0;
    }

    #content--container-annonce #annonce--contact-section {
        padding: 100px 150px;
    }
}


@media (min-width: 1200px) {
    #content--container-annonce #annonce--section {
        padding: 100px 200px;
    }
}

