@charset "UTF-8";

@import "normalize.css";


/*
** CLEAR FIX FOR FLOATING POINTS
*/

.cf {
    zoom: 1;  /*ie < 8 fix*/
}

.cf::before, 
.cf::after {
   content: "";
   display: block;
  
}

.cf::after {
    clear: both;
}


* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}


main#main--container {
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
}


/*
**   HEADER STYLES
*/

header#main--header {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

#main--header .header--ham {
    width: 40px;
    height: 40px;
    margin: auto;
    margin-right: 50px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

#main--header .ham--btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}


#main--header .ham--btn img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main--header .logo--wrapper {
    width: auto;
    height: 80px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

#main--header .header--nav {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: inherit;
    position: absolute;
    top: 100%;
    right: 0;
}

.header--nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#main--header .nav--list li {
    width: 100%;
    height: auto;
    margin: 5px 0;
    padding: 0;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#main--header .nav--list li:hover {
    background-color: cornflowerblue;
}


#main--header .nav--list a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 2px;
    color: inherit;
    text-decoration: none;
    outline: none;
    display: inline-block; 
}


@media (min-width: 770px) {
    header#main--header {
        height: 100px;
        padding: 0 50px;
        position: static;
    }

    #main--header .header--ham {
        display: none;
    }

    #main--header .logo--wrapper {
        width: auto;
        height: 100%;
        margin: auto;
    }

    #main--header .header--nav {
        width: auto;
        height: 100%;
        margin: auto;
        -ms-flex-item-align: end;
        align-self: flex-end;
        position: static;  
    }

    .header--nav ul {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    #main--header .nav--list li {
        width: 80px;
        margin: 0 5px;
        border-top: none;
    }
}

@media (min-width: 990px) {
    header#main--header {
        padding: 0 100px;
    }
}

@media (min-width: 1200px) {
    header#main--header {
        padding: 0 200px;
    }
}



/*
**   FOOTER STYLES
*/


footer#main--footer {
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 50px  200px 0;
    background-color: cornflowerblue;
}

#main--footer .footer--nav {
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 50px;
    padding: 0;
    display: inline-block;
}


.footer--nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

#main--footer .nav--list li {
    width: auto;
    height: auto;
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
}

#main--footer .nav--list a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    outline: none;
    display: inline-block; 
}




/*
** MAIN CONTENT STYLES
*/


div#content--container {
    width: 100%;
    margin: 0;
    padding: 0 200px;
}


/*
** PRESENTATION
*/

#content--container .presentation--section {
    width: 100%;
    height: 400px;
    background-color: dodgerblue;
    
}


/*
** ANNONCES
*/

#content--container .annonces--section {
    width: 100%;
    height: 400px;
    background-color: cadetblue;        
    
}


/*
** INFO
*/


#content--container .info--section {
    width: 100%;
    height: 400px;
    background-color: dodgerblue;      
    
    
}


