@charset "UTF-8";

@import "normalize.css";


/*
** CLEAR FIX FOR FLOATING POINTS
*/

.cf {
    zoom: 1;  /*ie < 8 fix*/
}

.cf::before, 
.cf::after {
   content: "";
   display: block;
  
}

.cf::after {
    clear: both;
}


* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}


main#main--container {
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
}


/*
**   HEADER STYLES
*/

header#main--header {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0 200px;
    background-color: cadetblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#main--header .logo--wrapper {
    width: auto;
    height: 100%;
    margin: auto;
    margin-left: 50px;
    padding: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

#main--header .header--nav {
    width: auto;
    height: 80%;
    margin: auto;
    padding: 0;
    -ms-flex-item-align: end;
    align-self: flex-end;    
}

.header--nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

#main--header .nav--list li {
    width: auto;
    height: auto;
    margin: 0 20px;
    padding: 0;
    text-align: center;
    border: 2px solid black;
    border-radius: 2px;
}

#main--header .nav--list a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    color: inherit;
    text-decoration: none;
    outline: none;
    display: inline-block; 
}



/*
**   FOOTER STYLES
*/


footer#main--footer {
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 50px  200px 0;
    background-color: cornflowerblue;
}

#main--footer .footer--nav {
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 50px;
    padding: 0;
    display: inline-block;
}


.footer--nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

#main--footer .nav--list li {
    width: auto;
    height: auto;
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
}

#main--footer .nav--list a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    outline: none;
    display: inline-block; 
}




/*
** MAIN CONTENT STYLES
*/


div#content--container {
    width: 100%;
    margin: 0;
    padding: 0 200px;
}


/*
** PRESENTATION
*/

#content--container .presentation--section {
    width: 100%;
    height: 400px;
    background-color: dodgerblue;
    
}


/*
** ANNONCES
*/

#content--container .annonces--section {
    width: 100%;
    height: 400px;
    background-color: cadetblue;        
    
}


/*
** INFO
*/


#content--container .info--section {
    width: 100%;
    height: 400px;
    background-color: dodgerblue;      
    
    
}


